.cifra-container{
  width: 90%;
  min-height: calc(100vh - 4rem);
  margin: 1rem auto;
  padding-bottom: 2rem;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}
[data-theme="dark"] .cifra-container {
  background-color: #1E1E1E;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.song-info{
  display: flex;
  flex-direction: row;
}

.cifra-container > .song-info >.composer > div{
  width: calc(100% - 2rem);
}

.cifra-container > .song-info > .composer > div:nth-of-type(1){  
  margin: 1rem 1rem 0rem 1rem;
  font-size: 2rem;
}

.cifra-container > .song-info > .composer > div:nth-of-type(2){  
  margin: 0rem 1rem;
  font-size: 1rem;  
}

.cifra-container > .song-info > div:nth-of-type(2){    
  margin: auto 1rem auto auto;
  display: flex;
  justify-content: center;
}

.tune{
  display: flex;
  width: 20%;
  margin: 0 auto;
  justify-content: center;
  gap: 1rem;
}

.song-action{
  display: flex;
}

@media screen and (max-width: 600px){
  .song-action{
    display: flex;
    flex-direction: column;    
  }

  .changeColumn{
    position: relative !important
  }

  .tune{
    margin: 0 0 0 4.5rem;
  }

  .cifra-container > .song-info > div:nth-of-type(2){    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto auto auto;
  }
}

.tune button {
  padding: 0.25rem .75rem;
  font-size: 1rem;
  color: #fff;
  background-color: #265B53;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tune button:hover {
  background-color: #0056b3;
}

.lyric{
  margin: 0rem 1rem;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.lyric-block{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#medidor {
  position: absolute;
  visibility: hidden;
  white-space: pre;
  font-size: 1rem;
  padding: 5px;
}

.metronomo {
  width: min(80%, 500px);
  height: 75px;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden; /* força recorte */
}