.cifra-container{
  width: 90%;
  min-height: calc(100vh - 4rem);
  margin: 1rem auto;
  padding-bottom: 2rem;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

.song-info{
  display: flex;
  flex-direction: row;
}

.cifra-container > .song-info >.composer > div{
  width: calc(100% - 2rem);
}

.cifra-container > .song-info > .composer > div:nth-of-type(1){  
  margin: 1rem 1rem 0rem 1rem;
  font-size: 2rem;
}

.cifra-container > .song-info > .composer > div:nth-of-type(2){  
  margin: 0rem 1rem;
  font-size: 1rem;  
}

.cifra-container > .song-info > div:nth-of-type(2){    
  margin: auto 1rem auto auto;
}

.lyric{
  margin: 1rem 1rem 0 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 400px) {
  .lyric{
    margin: 1rem 1rem 0 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.lyric-block{
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
}
.lyric-row{
  font-size: 1.5rem;
}
#medidor {
  position: absolute;
  visibility: hidden;
  white-space: pre;
  font-size: 16px;
  font-family: Arial, sans-serif;
  padding: 5px;
}