.table-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px 20px 10px 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .table-container {
  background-color: black;
}
[data-theme="dark"] .campos label {
  color: #fff;  
}

.headingRow {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;  
}

.lyric > .headingRow {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0rem;
}

.lyric > .headingRow > .heading {
  background-color: #265B53;
  border: none;
  border-radius: .5rem;
  padding: .5rem;
}

.heading {
  text-align: center;
  font-size: 24px;
  margin: auto;  
}

.link {
  position: absolute;
  color: inherit;
  text-decoration: none;
  display: block;
  right: 0px;
}

.lyricSpan {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: #265B53;
  border: 1px solid black;
  border-bottom: 0px;
}

.textArea {
  width: 100%;
  height: 65vh;
  vertical-align: bottom; /* magia */
  margin-bottom: 10px;
}

.campos {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
  margin-bottom: .5rem;
}

.campo label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.campo input {
  width: 100%;
  padding: 4px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.campo input:focus {
  border-color: #265B53;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}