.table-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.headingRow{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
}

.heading {
  text-align: center;
  font-size: 24px;
  margin: auto;
}

.linkHeading {
  position: absolute;
  color: inherit;
  text-decoration: none;
  display: block;
  right: 0px;
}

.table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid black;
}

.th, .td {
  padding: 12px;
  text-align: left;
}

.th {
  background-color: #4CAF50;
  color: white;
}

.tb .tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

.td {
  font-size: 16px;
}

.link {
  color: inherit;
  text-decoration: none;
  display: block;
}